.user-profile-section {
    border: 1px solid #F5F5F5;
}

.user-profile-section-bank-roles {
    font: normal normal 600 19px/44px Montserrat;
    color: #ffffff;
    margin: 0px;
}

.user-profile-section-activites {
    color: #00FFA2;
    font: normal normal 500 19px/44px Montserrat;
    margin: 0px;
}

.user-bank-roles-heading {
    font: normal 500 33px/90px Montserrat;
    opacity: 1;
    margin: 0px;
    color: #00FFA2;
}

.current-active-bets {
    /* max-width: 75%; */
    border-radius: 25px !important;
    background: transparent linear-gradient(180deg, #03E1FF 0%, #6E1080 100%);
    padding: 0px !important;
}

.user-product-bg {
    background-image: url(../images/boxing.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: -1px;
    border-radius: 25px 0px 0px 25px;
}

.user-product-bgg {
    background-image: url(../images/football.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: -1px;
    border-radius: 25px 0px 0px 25px;
}

.game-type-btn {
    background: #00FFA2 0% 0% no-repeat padding-box !important;
    font: normal 17px/22px Montserrat !important;
    color: #000000;
}

.user-game-type-btn {
    background: #00FFA2 0% 0% no-repeat padding-box !important;
    font: normal 17px/22px Montserrat !important;
    color: #000000;
    width: 50%;
    margin: auto;
}

.bet-topics {
    font: normal 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.price {
    font: normal 17px/41px Montserrat;
    color: #FFFFFF;
    margin: 0px;
}

.price-digit {
    font: normal 18px/40px Montserrat;
    color: #000000;
    margin: 0px;
}

.game-type {
    display: grid;
    align-content: center;
}

.History-Bets {
    font: normal 500 37px/88px Montserrat;
    letter-spacing: 0px;
    color: #00FFA2;
}

.History-Bets-bg {
    background: #00FFA2 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 24px;
}

.History-Bets-data-bg {
    background: transparent linear-gradient(180deg, #6E1080 0%, #03E1FF 100%) 0% 0% no-repeat padding-box;
    border-radius: 24px;
}

.History-Bets-desc,
.History-Bets-price,
.History-Bets-type,
.History-Bets-time,
.History-Bets-end-time,
.History-Bets-status {
    font: normal 500 18px/33px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-align: center;
}

.bet-desc,
.bet-price,
.bet-type,
.bet-time,
.bet-end-price,
.status {
    font: normal 14px/44px Poppins;
    color: #FFFFFF;
    text-align: center;
}


/* responsive-work */

@media screen and (max-device-width: 990px) {
    .user-game-type-btn {
        width: 60%;
    }
}

@media screen and (min-device-width: 767px) and (max-device-width: 888px) {
    .my-wallet-records {
        font: normal 500 13px/10px Montserrat;
    }
}

@media screen and (max-device-width: 767px) {
    .my-wallet-heading {
        width: 50%;
    }
    .profile-section-bg .user-profile-section-activites {
        font: normal normal 500 19px/35px Montserrat;
    }
    .profile-section-bg .user-profile-section-bank-roles {
        font: normal normal 600 19px/49px Montserrat;
    }
    .profile-section-bg .user-bank-roles-heading {
        font: normal 500 28px/77px Montserrat;
    }
    .user-product-bg {
        background-image: url(../images/boxing.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 200px;
        margin: -1px 14px 12px 14px;
        border-radius: 25px 25px 0px 0px;
    }
    .user-product-bgg {
        background-image: url(../images/football.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: -2px 14px 14px 14px;
        border-radius: 25px 25px 0px 0px;
        height: 200px;
    }
    p.price,
    p.price-digit {
        text-align: center;
    }
    .game-type-btn {
        width: 50%;
        margin: auto;
    }
    .right-register-bg {
        display: none;
    }
}

@media screen and (max-device-width: 767px) {
    .History-Bets-desc,
    .History-Bets-price,
    .History-Bets-type,
    .History-Bets-time,
    .History-Bets-end-time,
    .History-Bets-status {
        font: normal 600 13px/13px Montserrat;
        letter-spacing: 0px;
        color: #000000;
        text-align: center;
    }
    .bet-desc,
    .bet-price,
    .bet-type,
    .bet-time,
    .bet-end-price,
    .status {
        font: normal 600 13px/10px Montserrat;
        color: #FFFFFF;
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-device-width: 500px) {
    .History-Bets-desc,
    .History-Bets-price,
    .History-Bets-type,
    .History-Bets-time,
    .History-Bets-end-time,
    .History-Bets-status {
        font: normal 600 10px/10px Montserrat;
        letter-spacing: -0.5px;
        color: #000000;
        text-align: center;
    }
    .bet-desc,
    .bet-price,
    .bet-type,
    .bet-time,
    .bet-end-price,
    .status {
        font: normal 600 10px/10px Montserrat;
        color: #FFFFFF;
        text-align: center;
        margin-top: 10px;
    }
}


.game_list_row .user-product-bg {
    background-position: top;
}
.game_list_row .game_betting_box .betnow_btn,
.betNowModal .placebet_btn {
    display: inline-block;
    text-transform: uppercase;
    background-color: #DB1FFF;
    padding: 5px 20px;
    border-radius: 8px;
    transition: 0.9s;
    font-size: 17px;
    color: white;
    text-decoration: none;
    margin: 6px 0 14px;
}
.game_list_row .game_betting_box .betnow_btn:hover,
.betNowModal .placebet_btn:hover {
    background-color: white;
    color: #DB1FFF;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.betNowModal, body.modal-open{
    padding-right: 0 !important;
}
.betNowModal  .modal-content {
    border-radius: 25px;
    background: transparent linear-gradient(180deg, #03E1FF 0%, #6E1080 100%);
    color: white;
}
.betNowModal .modal-content .modal-header {
    border-color: #ffffff3d;
}
.betNowModal .modal-content .modal-footer {
    border: 0;
    justify-content: center;
    padding-top: 0;
}
.betNowModal .modal-content .modal-body {
    padding-bottom: 0;
}
.betNowModal .modal-content .modal-body form input, 
.betNowModal .modal-content .modal-body form select {
    background-color: #00000069;
    border-color: transparent;
    color: white;
}
.betNowModal .modal-content .modal-body form input:focus, 
.betNowModal .modal-content .modal-body form select:focus{
    border-color: #12c2ec;
}
.betNowModal .modal-content .modal-body form input::placeholder {
    color: #ffffff66;
}
.betNowModal .modal-content .modal-body form select option {
    background-color: #ffffff;
    border-bottom: 1px solid #0000008a;
    color: #333;
}
.game_list_row .game_betting_box p.price, 
.game_list_row .game_betting_box p.price-digit {
    line-height: 1.4;
    margin: 0 0 4px;
}
.game_betting_box {
    padding-top: 10px;
}
.betNowModal .modal-content .modal-header button.close:focus {
    outline: none;
}