.my-home-page-carousel-img {
    height: 100vh;
    object-fit: cover;
}
.heading-1 {
    color: white;
    font-size: 50px;
    line-height: 1.1;
    text-shadow: 0px 6px 6px #00000029;
}
.heading-2 {
    font-size: 80px;
    color: #00FFA2;
    line-height: 1.1;
    margin-bottom: 3px;
    text-shadow: 5px 10px 6px #00000029;
}
.heading-btn {
    font-size: 36px;
    background-color: #DB1FFF;
    padding: 3px 20px;
    display: inline-block;
    color: white;
    width: 310px;
    margin: auto;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    transition: .4s;
}
.heading-text{
top: 25%;
}
h2.colored_h2.Solana {
    font-size: 65px;
    color: #00FFA2;
    line-height: 1.1;
    margin-bottom: 3px;
    text-shadow: 5px 10px 6px #00000029;
}
h2.white_h2.Powered {
    color: white;
    font-size: 50px;
    line-height: 1.1;
    text-shadow: 0px 6px 6px #00000029;
}
.logo-group img {
    height: 80px;
}
.second-item-heading-text {
    color: white;
    font-size: 50px;
    line-height: 1.1;
    text-shadow: 0px 6px 6px #00000029;
}
.second-item-heading-text-2 {
    font-size: 80px;
    color: #00FFA2;
    line-height: 1.1;
    margin-bottom: 3px;
    text-shadow: 5px 10px 6px #00000029;
}
.second-item-heading-text-btn {
    font-size: 36px;
    background-color: #DB1FFF;
    padding: 3px 20px;
    display: inline-block;
    color: white;
    width: 310px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    transition: .4s;
}
section.three_col_sec {
        padding: 26px 40px;
        background-color: #F5F5F5;
    }
    
    section.three_col_sec .col_box {
        display: flex;
        align-items: center;
    }
    
    section.three_col_sec .col_box .icon_box {
        width: 10%;
        margin: 0 9px 0 0;
    }
    
    section.three_col_sec .col_box .icon_box img {
        width: 40px;
    }
    
    .text_box {
        margin: 9px;
        width: 90%;
    }
    
    section.three_col_sec .col_box .text_box h2 {
        font-size: 21px;
        color: #DB1FFF;
        font-style: italic;
        margin: 0;
    }
    
    section.three_col_sec .col_box .text_box p {
        color: #DB1FFF;
        margin: 0;
        font-size: 10px;
        font-weight: 500;
    }
    /* owl carousal - slider section */
    
    section.main_slider_sec {
        height: 500px;
    }
    
    .main_slider_sec .container-fluid {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 35%);
        flex-direction: column;
    }
    
    .main_slider_sec .owl-carousel,
    .main_slider_sec .owl-carousel div {
        height: 100%;
    }
    
    .main_slider_sec .item--one {
        background: url("../images/bg.webp") no-repeat center / cover;
    }
    
    .main_slider_sec .item--two {
        background: url("../images/runway.png") no-repeat center / cover;
    }
    
    .main_slider_sec .item--three {
        background: url("../images/earth.webp") no-repeat center / cover;
    }
    
    .main_slider_sec .item--four {
        background: url("../images/bg.webp") no-repeat center / cover;
    }
    
    .main_slider_sec .item h1 {
        color: #ffffff;
        font-size: 4rem;
    }
    
    .main_slider_sec .owl-dots {
        height: auto !important;
        position: absolute;
        inset: auto 50% 20px;
        display: flex;
        width: fit-content;
        transform: translateX(-50%);
    }
    
    .main_slider_sec .owl-dot span {
        width: 11px !important;
        height: 11px !important;
        border-radius: 9.5px !important;
        margin: 5px 14px !important;
    }
    
    .main_slider_sec .owl-dot:focus {
        outline: none;
    }
    
    .main_slider_sec .owl-carousel.owl-theme.owl-loaded.owl-drag {
        position: relative;
    }
    
    .main_slider_sec .owl-nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 !important;
        height: 0 !important;
    }
    
    .main_slider_sec .owl-nav button {
        position: absolute;
        top: 50%;
        color: white !important;
        font-size: 50px !important;
    }
    
    .owl-next:focus {
        outline: none !important;
    }
    
    .main_slider_sec .owl-nav button i {
        font-size: 45px;
    }
    
    .main_slider_sec .owl-nav button.owl-prev {
        left: 0;
    }
    
    .main_slider_sec .owl-nav button.owl-next {
        right: 0;
    }
    
    .main_slider_sec .owl-nav button:hover {
        background: transparent !important;
    }
    
    .main_slider_sec .owl-nav button:hover i {
        color: #DB1FFF;
    }
    
    .main_slider_sec .item h2.white_h2 {
        color: white;
        font-size: 50px;
        line-height: 1.1;
        text-shadow: 0px 6px 6px #00000029;
    }
    
    .main_slider_sec .item h2.colored_h2 {
        font-size: 80px;
        color: #00FFA2;
        line-height: 1.1;
        margin-bottom: 3px;
        text-shadow: 5px 10px 6px #00000029;
    }
    
    .main_slider_sec .item h2 {
        margin: 0;
        line-height: 1;
    }
    
    .main_slider_sec .item a.slider_btn {
        font-size: 36px;
        background-color: #DB1FFF;
        padding: 3px 20px;
        display: inline-block;
        color: white;
        width: 310px;
        text-align: center;
        border-radius: 12px;
        text-decoration: none;
        transition: .4s;
    }
    
    .main_slider_sec .item a.slider_btn:hover {
        background-color: #ffffff;
        color: #db1fff;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    .Technology-btn {
        background: transparent linear-gradient(180deg, #03E1FF 0%, #DB1FFF 100%) 0% 0% no-repeat padding-box;
        border-radius: 10px;
        font-size: 36px;
        padding: 3px 20px;
        display: inline-block;
        color: white;
        width: 310px;
        text-align: center;
        border-radius: 12px;
        cursor: pointer;
        text-decoration: none;
        transition: 4s;
    }
    
    .Technology-btn:hover {
        text-decoration: none;
        color: white;
        background: transparent linear-gradient(0deg, #03E1FF 0%, #DB1FFF 100%) 0% 0% no-repeat padding-box;
        transition-timing-function: ease-in-out;
    }
    
    .second-item {
        text-align: left;
        width: 100%;
        margin-right: auto;
        display: grid;
        align-content: center;
    }
    
    .slider-item {
        display: grid;
        align-content: center;
    }
    
    .logo-group {
        text-align: center;
    }
    /* //owl carousal - slider section */
    /* category section */
    
    section.category_sec {
        padding: 90px 40px 40px;
        background-color: #212121;
    }
    
    section.category_sec .category_col {
        display: flex;
        border-top-left-radius: 20px;
        overflow: hidden;
        box-shadow: 5px 5px 6px #00000029;
        height: 154px;
        border-bottom-left-radius: 20px;
        margin-bottom: 55px;
        background-color: #04fca4;
        border-radius: 20px;
    }
    
    section.category_sec .category_col .cat_img_box {
        width: auto;
        overflow: hidden;
    }
    
    section.category_sec .category_col .cat_img_box img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    
    section.category_sec .category_col .cat_nameBtn_box {
        width: 70%;
        background-color: #04FCA4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 2px solid #FFFFFF; */
        border-left: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    section.category_sec .category_col .cat_nameBtn_box h3 {
        color: #000;
        font-size: 26px;
        text-align: center;
    }
    
    section.category_sec .category_col .cat_nameBtn_box a.cat_btn {
        background-color: #DB1FFF;
        color: white;
        padding: 8px 30px;
        font-size: 24px;
        margin-inline: auto;
        border-radius: 10px;
        text-decoration: none;
        transition: .4s;
    }
    
    section.category_sec .category_col .cat_nameBtn_box a.cat_btn:hover {
        background-color: #ca14ec;
        transition: .4s;
    }
    
    .category_sec .col_custom_width {
        flex: 0 0 49%;
        max-width: 49%;
    }
    
    .category_sec .custom_cat_row {
        justify-content: space-between;
    }
    /* //category section */
    /* featured Events section */
    
    .featured_events_sec {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        background-image: url('../images/gambling-4178462_960_720.webp');
        background-position: center;
        background-size: cover;
        /*background-color: #212121;*/
    }
    
    .featured_events_sec .featured_events_hd {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        /*margin-bottom: 50px;*/
    }
    
    .featured_events_sec .featured_events_hd h2,
    .get_started_sec .get_started_hd h2 {
        background: transparent linear-gradient(180deg, #03E1FF 0%, #DB1FFF 100%) 0% 0% no-repeat padding-box;
        padding: 16px 20px;
        border-radius: 10px;
        width: 572px;
        font-size: 47px;
        color: white;
        margin-bottom: 0;
    }
    
    .featured_events_sec .row.featured_event_row .featured_event_box {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        margin: 20px 0;
        max-height: 350px;
        box-shadow: 5px 5px 6px #00000029;
        background: #f5f5f573;
    }
    
    .featured_events_sec .row.featured_event_row .featured_event_box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .featured_events_sec .row.featured_event_row .featured_event_box a {
        position: absolute;
        right: 25px;
        bottom: 15px;
        background-color: #DB1FFF;
        border-radius: 20px;
        padding: 2px 18px;
        font-size: 12px;
        color: white;
        text-decoration: none;
        transition: .4s;
    }
    
    .featured_events_sec .row.featured_event_row .featured_event_box a:hover {
        background-color: #ca14ec;
        transition: .4s;
    }
    
    .featured_events_sec .row.featured_event_row .cstm_wdth_col {
        flex: 0 0 49%;
        max-width: 49%;
    }
    
    .featured_events_sec .row.featured_event_row .cstm_wdth_main_col8 {
        flex: 0 0 65%;
        max-width: 65%;
    }
    
    .featured_events_sec .row.featured_event_row .cstm_wdth_main_col4 {
        flex: 0 0 32%;
        max-width: 32%;
    }
    
    .featured_events_sec .custom_cat_row,
    .row.featured_event_row {
        justify-content: space-between;
    }
    
    .right_main_event_box {
        margin-bottom: 0 !important;
        height: 100%;
    }
    
    .mr_b0 {
        margin-bottom: 0 !important;
    }
    /* //featured Events section */
    /* join free section */
    
    .joinfree_sec {
        background-color: #000000;
        padding: 80px 40px 36px;
    }
    
    .joinfree_sec .text_div {
        text-align: center;
    }
    
    .joinfree_sec .text_div h2 {
        font-size: 48px;
        color: white;
        margin-bottom: 70px;
    }
    
    .joinfree_sec .text_div .join_free_btn {
        font-size: 48px;
        color: white;
        background-color: #DB1FFF;
        border-radius: 20px;
        font-weight: 500;
        padding: 13px 80px;
        display: inline-block;
        margin-bottom: 60px;
        text-decoration: none;
        transition: .4s;
    }
    
    .joinfree_sec .text_div .join_free_btn:hover {
        background-color: #ca14ec;
        transition: .4s;
    }
    
    .joinfree_sec .text_div h4 {
        color: #fff;
        font-weight: 400;
    }
    /* //join free section */
    /* How to Get Started section */
    
    .get_started_sec {
        padding: 110px 40px;
        background-color: #212121;
    }
    
    .get_started_sec .get_started_hd {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 130px;
    }
    
    .get_started_sec .start_col .start_ul {
        margin: 0;
        padding: 0;
    }
    
    .get_started_sec .start_col .start_ul li {
        color: white;
        font-size: 27px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    
    .get_started_sec .start_col .start_ul li i {
        color: #04FCA4;
        font-size: 15px;
        margin-right: 25px;
    }
    
    .start_col.right_img_col img.apple_pc_img {
        width: 94%;
        margin-bottom: 50px;
    }
    
    .start_col.right_img_col {
        text-align: center;
    }
    
    .start_col.right_img_col .quick_tutorial_btn {
        font-size: 21px;
        color: white;
        background-color: #DB1FFF;
        border-radius: 12px;
        font-weight: 600;
        padding: 10px 28px;
        display: inline-block;
        text-decoration: none;
        transition: .4s;
    }
    
    .start_col.right_img_col .quick_tutorial_btn:hover {
        background-color: #ca14ec;
        transition: .4s;
    }
    
    .get_started_row {
        align-items: center;
    }
    
    .start_col.right_img_col_inner {
        position: relative;
    }
    
    .video_div {
        position: absolute;
        top: 19px;
        width: 86%;
        left: -5px;
        right: 0;
        margin: 0 auto;
    }
    
    .video_div img {
        width: 100%;
    }
    /* //How to Get Started section */
    /* gambling section */
    
    .gamble_sec {
        padding: 80px 40px 30px;
        background-image: url('../images/gamble_bg.png');
        position: relative;
        backdrop-filter: invert(0.7);
    }
    
    .gamble_sec:before {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #00ffa2;
        opacity: 0.5;
        z-index: -1;
    }
    
    .gamble_sec .gamble_hd {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    .gamble_sec .gamble_hd h2 {
        background: transparent linear-gradient(180deg, #03E1FF 0%, #DB1FFF 100%) 0% 0% no-repeat padding-box;
        padding: 16px 20px;
        border-radius: 10px;
        width: 770px;
        font-size: 38px;
        color: white;
        font-weight: 400;
    }
    
    .sol_balance_div {
        background-color: #000;
        border-radius: 30px;
        padding: 30px 60px 40px;
        color: white;
        width: 90%;
        margin: 0 auto;
    }
    
    .sol_balance_div .sol_stuff {
        display: flex;
        width: 100%;
        align-items: center;
    }
    
    .sol_balance_div .sol_stuff .from_logo {
        width: 20%;
    }
    
    .sol_balance_div .sol_stuff .from_logo h3 {
        margin-bottom: 30px;
    }
    
    .sol_balance_div .sol_stuff .select_table {
        width: 80%;
        display: flex;
        align-items: center;
    }
    
    .sol_balance_div .sol_stuff .select_table form {
        width: 40%;
        padding-top: 60px;
    }
    
    .sol {
        background: none !important;
        border: none !important;
        color: #00FFA2 !important;
        font-size: 27px !important;
        padding: 0 !important;
        font-weight: 600;
        appearance: none;
        background-image: url(../images/down.png);
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: center;
        background-position-x: 90px;
    }
    
    .sol:focus {
        outline: none;
        box-shadow: none;
    }
    
    .sol option {
        font-size: 15px;
        color: #000;
    }
    
    span.th_span {
        background: transparent linear-gradient(180deg, #7168E0 0%, #00FFA2 100%) 0% 0% no-repeat padding-box;
        padding: 3px 21px;
        border-radius: 7px;
        width: 94px;
        text-align: center;
        display: inline-block;
        font-weight: 500;
    }
    /* .sol_balance_div .sol_stuff .select_table form select {
        background: none;
        border: none;
        color: #00FFA2;
        font-size: 27px;
        padding: 0;
        font-weight: 600;
        appearance: none;
        background-image: url('../images/down.png');
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: center;
        background-position-x: 90px;
    } */
    /* .sol_balance_div .sol_stuff .select_table form select:focus {
        outline: none;
        box-shadow: none;
    }
    
    .sol_balance_div .sol_stuff .select_table form select option {
        font-size: 15px;
        color: #000;
    } */
    
    .sol_balance_div .sol_stuff .select_table table {
        width: 52%;
        text-align: center;
        position: relative;
        top: 16px;
    }
    
    .sol_balance_div .sol_stuff .select_table table thead th,
    .sol_balance_div .sol_stuff .select_table table tbody td {
        padding: 0 10px;
    }
    /* .sol_balance_div .sol_stuff .select_table table thead th span.th_span {
        background: transparent linear-gradient(180deg, #7168E0 0%, #00FFA2 100%) 0% 0% no-repeat padding-box;
        padding: 3px 21px;
        border-radius: 7px;
        width: 94px;
        display: inline-block;
        font-weight: 500;
    } */
    
    .sol_balance_div .balance_stuff {
        text-align: right;
    }
    
    .sol_balance_div .balance_stuff h2.balance_text {
        color: #00FFA2;
        font-weight: 600;
        font-size: 27px;
        margin: 0 0 20px;
    }
    
    .sol_balance_div .balance_stuff h3.price_text {
        font-size: 34px;
        font-weight: 600;
        margin: 0 0 15px;
    }
    
    .sol_balance_div .balance_stuff p.outstanding_text {
        font-size: 10px;
        color: #00FFA2;
        margin: 0;
    }
    
    .swap_btn_div {
        text-align: right;
        width: 90%;
        margin: 15px auto 0;
    }
    
    .swap_btn_div .swap_btn {
        font-size: 19px;
        color: white;
        background-color: #DB1FFF;
        border-radius: 12px;
        font-weight: 500;
        padding: 13px 10px;
        display: inline-block;
        text-decoration: none;
        transition: .4s;
    }
    
    .swap_btn_div .swap_btn:hover {
        background-color: #ca14ec;
        transition: .4s;
    }
    
    .content {
        display: flex;
        height: auto !important;
    }
    
    .content-left {
        height: auto !important;
        width: 80%;
    }
    
    .content-right {
        height: auto !important;
        width: 20%;
    }
    /* //gambling section */
    /*responsiveness*/
    
    @media screen and (max-device-width: 990px) {
        section.three_col_sec .col_box .text_box h2 {
            font-size: 20px;
            color: #DB1FFF;
            font-style: italic;
            margin: 0px 10px;
        }
        section.three_col_sec .col_box .text_box p {
            color: #DB1FFF;
            margin: 0px 10px;
            font-size: 10px;
            font-weight: 500;
        }
    }
    
    @media screen and (max-device-width: 767px) {
        section.three_col_sec .col_box .text_box h2 {
            font-size: 20px;
            margin: 0px 0px 0px 10px;
        }
        section.three_col_sec .col_box .text_box p {
            margin: 0px 0px 0px 10px;
            font-size: 10px;
            font-weight: 600;
        }
        section.three_col_sec .col_box .icon_box {
            text-align: center;
            justify-content: center;
        }
        section.category_sec .category_col .cat_nameBtn_box a.cat_btn {
            font-size: 20px;
        }
        section.category_sec .category_col .cat_nameBtn_box h3 {
            font-size: 24px;
        }
        .featured_event_box {
            margin-top: 20px;
        }
        .right_main_event_box {
            margin-top: 60px;
        }
        .featured_events_sec .featured_events_hd h2,
        .get_started_sec .get_started_hd h2 {
            font-size: 25px;
            font-weight: 600;
        }
        .joinfree_sec .text_div h2 {
            font-size: 38px;
            color: white;
            margin-bottom: 50px;
        }
        .joinfree_sec .text_div .join_free_btn {
            font-size: 30px;
        }
        .get_started_sec .start_col .start_ul li {
            font-size: 20px;
        }
        .content {
            display: block;
            height: auto !important;
        }
        .content-left {
            width: 100% !important;  
        }
        .content-right {
           display: none;
        }
        h2.white_h2.Powered {
            color: white;
            font-size: 50px;
        }
        h2.colored_h2.Solana {
            font-size: 50px;}
        .main_slider_sec .item h2.white_h2 {
            color: white;
            font-size: 30px;
            line-height: 1.1;
            text-shadow: 0px 6px 6px #00000029;
        }
        .main_slider_sec .item h2.colored_h2 {
            font-size: 45px;
            color: #00FFA2;
            line-height: 1.1;
            margin: 10px 0px;
            text-shadow: 5px 10px 6px #00000029;
        }
        .Technology-btn {
            font-size: 26px;
            width: auto;
            font-weight: 500;
            margin: 15px 0px;
        }
        .logo-group img {
            height: 50px;
        }
        .main_slider_sec .item a.slider_btn {
            font-size: 26px;
            width: auto;
        }
        .sol_balance_div .sol_stuff .from_logo {
            width: 100%;
            justify-content: center;
            display: grid;
        }
        .sol {
            text-align: center;
            margin: 10px 0px;
        }
        .sol_balance_div .balance_stuff {
            text-align: center;
        }
        .gamble_sec .gamble_hd h2 {
            width: auto;
            font-size: 16px;
            font-weight: 500;
        }
        .second-item{
            justify-content: center;
        }
    }
    
    @media screen and (max-device-width: 650px) {
        .content-right {
            display: none;
        }
    }
    
    @media screen and (max-device-width: 380px) {
        .col_box .text_box p {
            margin: 0px 0px 0px 10px;
            font-size: 9px;
            font-weight: 600;
        }
        section.three_col_sec .col_box .text_box h2 {
            font-size: 14px;
            font-weight: 600;
            margin: 0px 0px 0px 10px;
        }
        section.category_sec .category_col .cat_nameBtn_box a.cat_btn {
            font-size: 14px;
            font-weight: 600;
        }
        section.category_sec .category_col .cat_nameBtn_box h3 {
            font-size: 20px;
        }
        .get_started_sec .start_col .start_ul li {
            font-size: 17px;
        }
        .second-item-heading-text {
            color: white;
            font-size: 24px;}
            .second-item-heading-text-2 {
                font-size: 40px;}
                .second-item-heading-text-btn {
                    width: 190px;
                    font-size: 26px;
                }
                .heading-btn {
                    font-size: 26px;
                    background-color: #DB1FFF;
                    padding: 3px 20px;
                    display: inline-block;
                    color: white;
                    width: 190px;
                }
                h2.colored_h2.Solana {
                    font-size: 40px;
                }
                h2.white_h2.Powered {
                    font-size: 25px;
                }
                .heading-1 {
                    font-size: 25px;}
                    .heading-2 {
                        font-size: 40px;}
    }