/* login page */
.login_box_outer {
   width: 100%;
   float: left;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.login_box_outer .login_box_inner {
    width: 520px;
    padding: 12px 25px 5px;
    background: transparent linear-gradient(180deg, #00FFA2 0%, #03E1FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px 0px #0000004d;
}
.login_box_outer .login_box_inner .login_header {
   text-align: center;
   position: relative;
}
.login_box_outer .login_box_inner .login_header h1 {
   font-size: 26px;
   font-family: 'Segoe UI Bold';
   padding: 8px 17px;
   background: transparent linear-gradient(180deg, #03E1FF 0%, #DB1FFF 100%) 0% 0% no-repeat padding-box;
   color: white;
   display: inline-block;
   border-radius: 6px;
   margin-bottom: 40px;
   user-select: none;
}
.login_box_outer .login_box_inner .login_header span {
   position: absolute;
   right: 0;
}
.login_box_outer .login_box_inner .login_header a {
   font-size: 13px;
   background-color: #DB1FFF;
   color: #fff;
   padding: 2px 10px;
   border-radius: 35px;
   box-shadow: 2px 0px 0px 0px #00000030;
   text-decoration: none;
   transition: .4s;
}
.login_box_outer .login_box_inner .login_header a:hover,
.login_box_outer .login_box_inner .login_body form .login_btn_div .login_btn_a:hover {
   background-color: #ca14ec;
   transition: .4s;
}
.login_box_outer .login_box_inner .login_body form .form-group{
   width:  60%;
}
.login_box_outer .login_box_inner .login_body form label {
   font-size: 17px;
   font-weight: 600;
   margin-bottom: 19px;
}
.login_box_outer .login_box_inner .login_body form label.password_label{
   margin-bottom: 8px;
}
.login_box_outer .login_box_inner .login_body form input {
   box-shadow: 0px 3px 2px #00000029;
   border-radius: 4px;
   border: 0;
   width: 100%;
   height: 32px;
   font-size: 13px;
   font-weight: 500;
}
.login_box_outer .login_box_inner .login_body form .form-group small {
   text-align: right;
   display: block;
   margin: 3px 0 0;
   font-size: 10px;
   font-style: italic;
   padding: 0 20px 0 0;
}
.login_box_outer .login_box_inner .login_body form .form-group small a{
   color: #000;
   font-weight: 600;
   text-decoration: none;
   transition: .4s;
}
.login_box_outer .login_box_inner .login_body form .form-group small a:hover{
   color: #DB1FFF;
   transition: .4s;
}
.login_box_outer .login_box_inner .login_body form .login_btn_div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 22px;
}
.login_box_outer .login_box_inner .login_body form .login_btn_div .login_btn_a {
   background-color: #db1fff;
   padding: 7px 20px;
   font-size: 17px;
   font-weight: 500;
   border-radius: 20px;
   color: white;
   line-height: 1;
   margin-bottom: 10px;
   box-shadow: 2px 0px 0px 0px #00000030;
   text-decoration: none;
   transition: .4s;
}
.login_box_outer .login_box_inner .login_body form .login_btn_div small {
   font-size: 8px;
}
.login_box_outer .login_box_inner .login_body form .login_btn_div small a{
   font-size: 8px;
   font-weight: 600;
   color: #000;
}

.forgot_password_a{
   cursor: pointer;
}

/* //login page */

/* responsive */
@media screen and (max-width: 500px){
   .login_box_outer .login_box_inner {
      width: 94%;
   }
   .login_box_outer .login_box_inner .login_body form .form-group {
      width: 100%;
   }
   .login_box_outer .login_box_inner .login_header a {
      
      display: inline-block;
   }
   .login_box_outer .login_box_inner .login_header h1 {
      margin-bottom: 15px;
   }
   .login_box_outer .login_box_inner .login_header span {
      width: 100%;
      display: block;
      position: unset;
      margin-bottom: 25px;
   }
}
/* //responsive */