@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../fonts/Segoe UI.woff') format('woff');
}

@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../fonts/Segoe UI Bold.woff') format('woff');
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}
/* header */

.top_nav {
    background-color: #000;
}

.top_nav .top_nav_flexbox {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}

.top_nav .top_nav_flexbox .navbar-brand .short_title {
    font-size: 12px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 5px 5px 6px #00000029;
    font-weight: 400 !important;
}

.top_nav .top_nav_flexbox .navbar-brand h1.logo_text {
    font-size: 31px;
    font-family: 'Segoe UI Bold';
    color: white;
    margin: 0;
}

.top_nav .top_nav_flexbox .navbar-brand h1.logo_text span {
    color: #00FFA2;
}

.top_nav .right_side {
    width: 60%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.top_nav .right_side ul,
.right_side_mob.right_side ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.top_nav .right_side ul li,
.right_side_mob.right_side ul li {
    padding: 0 0 0 20px;
    display: block;
}

.top_nav .right_side ul li.search a:before,
.right_side_mob.right_side ul li.search a:before {
    font-size: 24px;
    color: white;
}

.top_nav .right_side ul li.right_menu_a_login a,
.top_nav .right_side ul li.right_menu_a_join a {
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.right_menu_a_My_Account a {
    font: normal 22px/30px Montserrat;
    letter-spacing: 0px;
    color: #00FFA2;
}

.top_nav .right_side ul li.right_menu_a_join a {
    text-transform: uppercase;
    background-color: #DB1FFF;
    padding: 10px 25px;
    border-radius: 8px;
    transition: .4s;
}

.right_menu_a_My_Account a:hover {
    color: white;
    text-decoration: none;
}

li.right_menu_a_Quick_Deposit a {
    text-transform: uppercase;
    background-color: #DB1FFF;
    padding: 10px 25px;
    border-radius: 8px;
    transition: 0.9s;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

li.right_menu_a_Quick_Deposit a:hover {
    background-color: white;
    color: #DB1FFF;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.top_nav .right_side ul li.right_menu_a_login a:hover {
    color: #00ffa2;
    transition: .4s;
}

.top_nav .right_side ul li.right_menu_a_join a:hover {
    background-color: #fff;
    color: #DB1FFF;
    transition-timing-function: ease-in-out;
}

li.right_menu_a_logout a {
    font-size: 22px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

li.right_menu_a_logout a:hover {
    color: #00ffa2;
}

.log-out-img {
    height: 20px;
    margin: 0px 10px 3px 10px;
}
/* searchbar */

.search {
    /* width: 16em; */
    padding: 0;
    margin: 0;
    line-height: 2em;
    background: transparent;
    position: relative;
    transition: all .25s linear;
}

.search input {
    width: 13.5em;
    height: 28px;
    line-height: 1em;
    padding: 0px 0 0 .5em;
    border: none;
    outline: none;
    background-color: #ffffff3d;
    font-size: 1em;
    color: white;
    float: left;
    transition: all .25s linear;
    position: absolute;
    right: 0;
}

.search a {
    width: 2em;
    height: 2em;
    line-height: 1.5em;
    padding: 0;
    color: #ccc;
    text-align: center;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 1px;
    right: 0;
    transition: all .25s linear;
    cursor: pointer;
}

.top_nav .top_nav_flexbox .right_side ul li.search a:hover:before {
    color: #00ffa2;
    transition: .4s;
}

.search a:before {
    line-height: 1.5em;
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    color: white;
    font-size: 18px;
    right: 0;
    position: absolute;
}

.search a:hover {
    color: #eee;
}

/* .search.collapsed {
    width: 2em;
    margin-left: 10em;
} */

.search.collapsed input {
    width: 0;
    background: transparent;
}

.search.collapsed a {
    font-size: 18px;
    color: white !important;
}

.search.collapsed a:hover {
    color: #bbb;
}
/* //searchbar */

nav.custom_nav {
    background-color: #000000 !important;
}

nav.custom_nav #navbarSupportedContent ul.navbar-nav li.nav-item a img {
    width: 22px;
    margin: 0 8px 0 0;
}
nav.custom_nav #navbarSupportedContent ul.navbar-nav li.nav-item a:hover{
    text-decoration: none ;
}
nav.custom_nav #navbarSupportedContent ul.navbar-nav li.nav-item a {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 19px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: left; */
    position: relative;
    letter-spacing: 0.5px;
}


nav.custom_nav #navbarSupportedContent ul.navbar-nav li.nav-item a::after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    background: transparent;
    transition: all 0.3s;
    bottom: -7px;
}

nav.custom_nav #navbarSupportedContent ul.navbar-nav li.nav-item a:hover::after,
nav.custom_nav #navbarSupportedContent ul.navbar-nav li.nav-item.active a::after {
    width: 100%;
    background: rgb(255, 255, 255);
}

nav.custom_nav #navbarSupportedContent ul.navbar-nav li.nav-item {
    padding: 0 0 0 40px;
    margin: 0px;
}

.hidden_in_desktop {
    display: none !important;
}

.account-balance {
    max-width: 85%;
    background: #000000 !important;
    border-radius: 30px !important;
}

.From-account {
    font: normal 27px/52px Montserrat;
    color: #FFFFFF;
    margin: 0px;
}

.balance-digits {
    font: normal normal 520 25px/52px Montserrat;
    color: #00FFA2;
    margin: 0px;
}

.my-bet-sol {
    font: normal 600 27px/52px Montserrat !important;
    letter-spacing: 0px;
    color: #00FFA2;
    background-color: transparent;
}
.spc_footer {
    background-color: #000;
    padding: 0px 0px  !important;
}
.maximum-amount,
.half-amount {
    background: transparent linear-gradient(180deg, #7168E0 0%, #00FFA2 100%) 0% 0% no-repeat padding-box;
    border-radius: 14px;
    text-align: center;
    color: #fff;
    font: normal 20px/34px Montserrat;
    padding: 5px;
}

.betting-amount {
    text-align: right;
    color: white;
    font: normal 600 33px/68px Montserrat;
}

.amount-dash {
    margin: 0px;
}

.bet-position {
    text-align: right;
    font: normal 11px/18px Montserrat;
    letter-spacing: 0px;
    color: #00FFA2;
    margin: 0px;
}

.profile-icn {
    font-size: 40px !important;
    color: white;
    /* height: 20px; */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.profile-icn:hover {
    -webkit-animation: rotates 0.75s alternate ease-in-out;
    animation: rotate 0.75s ease-in-out;
}

.solana-logo {
    height: 70px;
}

button.live-button {
    width: 13px;
    height: 13px;
    background: #00FFA2;
    opacity: 1;
    border-radius: 50%;
    border: none;
    margin: 0px 15px 0px 0px;
}
.logo_text {
    font-size: 31px;
    font-family: 'Segoe UI Bold';
    color: white;
    margin: 0;
}
.logo_text span {
    color: #00FFA2;
}
.short_title {
    font-size: 12px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 5px 5px 6px #00000029;
    font-weight: 400 !important;
}
tr {
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.right_side .nav-item a {
    font-size: 22px;
    color: white;
    text-decoration: none;
}
.nav-icn {
    width: 23px;
    padding: 4px 0px;
}
.right_side .nav-item a:hover {
    color: #00ffa2;
}
.flex_mob_menu {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}
.right_menu_a_login {
    font-size: 20px;
    color: white;
    margin: 0px 0px 0px 10px;
}

/* //header */
/* responsive */

@media screen and (max-width: 1050px) {
    li.right_menu_a_Quick_Deposit a {
        text-transform: uppercase;
        background-color: #DB1FFF;
        padding: 10px 25px;
        border-radius: 8px;
        transition: .4s;
        font-size: 12px;
        color: white;
        font-weight: 600;
        text-decoration: none;
    }
    .right_menu_a_Quick_Deposit {
        white-space: nowrap;
        margin: auto;
    }
}

@media screen and (max-width: 990px) {
    .top_nav .right_side ul li.right_menu_a_login a,
    .top_nav .right_side ul li.right_menu_a_join a {
        font-size: 16px;
        color: white;
        font-weight: 500;
    }
    .top_nav .right_side ul li,
    .right_side_mob.right_side ul li {
        text-align: center;
        /* margin: auto; */
    }
    .top_nav_flexbox {
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .top_nav .top_nav_flexbox {
        padding: 0;
        border-bottom: 1px solid #ffffff42;
    }
    .top_nav .top_nav_flexbox .navbar-brand h1.logo_text {
        font-size: 19px;
    }
    .top_nav .top_nav_flexbox .navbar-brand .short_title {
        font-size: 7px;
        display: block;
    }
    .top_nav .top_nav_flexbox .right_side ul li.right_menu_a_join a {
        padding: 5px;
    }
    .top_nav .top_nav_flexbox .right_side ul li {
        padding: 0 0 0 8px;
        text-align: center;
    }
    .top_nav .top_nav_flexbox .navbar-brand {
        font-size: inherit;
    }
    .top_nav .right_side {
        width: 100%;
    }
    .top_nav .right_side ul li.right_menu_a_login a,
    .top_nav .right_side ul li.right_menu_a_join a {
        font-size: 12px;
    }
    nav.custom_nav #navbarSupportedContent ul.navbar-nav li.nav-item {
        padding: 5px 0px;
       
    }
    /* nav.custom_nav #navbarSupportedContent ul.navbar-nav li.nav-item a {
        justify-content: left;
    } */
    div#navbarSupportedContent ul.navbar-nav {
        padding-top: 8px;
    }
    nav.custom_nav #navbarSupportedContent ul.navbar-nav li.nav-item a {
        font-size: 16px;
    }
    li.right_menu_a_logout a,
    .right_menu_a_My_Account a {
        font-size: 12px !important;
    }
    .log-out-img {
        height: 15px;
    }
}

@media screen and (max-width: 767px) and (min-width: 501px) {
    .top_nav .top_nav_flexbox .navbar-brand h1.logo_text {
        font-size: 22px;
    }
    .top_nav .top_nav_flexbox .navbar-brand .short_title {
        font-size: 8px;
        display: block;
    }
    .top_nav .right_side ul li.right_menu_a_login a,
    .top_nav .right_side ul li.right_menu_a_join a {
        font-size: 16px;
    }
    .top_nav .right_side ul li.right_menu_a_join a {
        padding: 8px 19px;
    }
}

@media screen and (max-width: 767px) {
    .top_nav .top_nav_flexbox {
        padding: 10px 0px;
    }
    .top_nav .right_side ul li.search a:before {
        font-size: 16px;
    }
    .search {
        width: auto;
    }
    .search a {
        top: -3px;
    }
    .search input {
        height: 30px;
        width: 12.5em;
        top: -2px;
        background-color: #ffffffc9;
    }
    .right_side_mob.right_side ul li.search a:before {
        font-size: 19px;
        color: #000;
    }
    .custom_nav .navbar-toggler span.navbar-toggler-icon {
        background-image: url('../images/menu.png');
        height: 15px;
        width: 22px;
    }
    .custom_nav .navbar-toggler {
        /* border-color: #00000054 !important; */
        padding: 5px 5px;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav.custom_nav {
        padding: 10px 15px !important;
    }
    .right_side.hidden_in_desktop.right_side_mob {
        padding: 0;
    }
    .flex_mob_menu {
        align-items: normal !important;
    }
    .hidden_in_mob {
        display: none !important;
    }
    .hidden_in_desktop {
        display: block !important;
    }
    .From-account {
        font: normal 25px/52px Montserrat;
        color: #FFFFFF;
        margin: 0px;
    }
    .balance-digits {
        font: normal normal 520 21px/52px Montserrat;
        color: #00FFA2;
        margin: 0px;
    }
    .solana-logo {
        height: 60px;
    }
    .bet-position {
        text-align: right;
        font: normal 12px/1px Montserrat;
        letter-spacing: 0px;
        color: #00FFA2;
        margin: 0px;
    }
    .top_nav .right_side ul li,
    .right_side_mob.right_side ul li {
        padding: 0 0 0 18px;
        display: block;
    }
    li.right_menu_a_logout a,
    .right_menu_a_My_Account a {
        font-size: 16px;
    }
    .profile-icn:hover {
        animation: none;
    }
    #navbarSupportedContent ul.navbar-nav li.nav-item.active a::after {
        visibility: hidden;
    }
}

@media screen and (max-width: 440px) {
    li.right_menu_a_Quick_Deposit {
        display: none !important;
    }
}
/* //responsive */
/* footer */

footer {
    background-color: #000;
    padding: 60px 40px 0;
}


.register-faq,
.register-contact,
.register-twitter,
.register-discord {
    color: #00FFA2;
    font: normal normal 600 26px/14px Montserrat !important ;
    margin-bottom: 40px; 
}

.quick-links-register {
    color: #ffffffc9; 
    font: normal 15px/14px Montserrat !important;
    line-height: 18px !important;
    margin-bottom: 10px;
    padding: 0;
}

.quick-links-register li {
    display: block;
    margin: 0 0 10px;
}

.quick-links-register li a,
.quick-links-register a {
    color: #ffffffc9;
    text-decoration: none;
}

.quick-links-register li a:hover,
.quick-links-register a:hover {
    color: #00FFA2;
    text-decoration: none;
}

.row.right-register-bg {
    margin-bottom: 120px;
}

.copyright_div {
    width: 100%;
    padding: 30px 0;
    position: relative;
}

.copyright_div ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.copyright_div ul li {
    color: white;
    font-size: 10px;
    width: 240px;
    text-align: center;
    display: block;
}

.copyright_div img.plus_icon_img {
    position: fixed;
    top: 80%;
    width: 70px;
    right: 5%;
    z-index: 1024;
    animation: 0.5s;
}

@keyframes pulse {
    0% {
        filter: drop-shadow(0 0 0px);
        color: #fff;
    }
    100% {
        filter: drop-shadow(0 0 4px);
        color: #00ffa2;
    }
}

.copyright_div img.plus_icon_img:hover {
    filter: drop-shadow(0 0 4px);
    color: #00ffa2;
    cursor: pointer;
    animation: pulse 1.5s infinite;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
a.link_set {
    color: #00FFA2;
    font: normal normal 600 17px/14px Montserrat !important;
    margin-bottom: 40px;
}
/* //footer */