.my-bet-top-bg {
    background-color: #151516;
}

.top-banner-heading {
    color: white;
    font: italic normal 23px/19px Montserrat;
    margin: 0px;
}

.top-banner-desc {
    font: normal 11px/19px Montserrat;
    color: white;
    margin: 0px;
}

.my-bet-left-btn,
.my-bet-right-btn {
    background: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    width: auto;
}

.my-bet-carousel-caption-button {
    width: 36%;
    margin: auto;
    background: #DB1FFF 0% 0% no-repeat padding-box;
    border-radius: 19px;
    font: 500 27px/53px Montserrat;
    border: none;
    color: white;
    cursor: pointer;
}
.my-bet-carousel-caption-button a {
    color: white;
}

.my-bet-carousel-caption-button:focus {
    outline: none;
}

.my-bet-carousel-img {
    border-radius: 68px 68px 0px 0px;
    height: 100vh;
}

.my-current-bets h3 {
    background: transparent linear-gradient(180deg, #03E1FF 0%, #DB1FFF 100%) 0% 0% no-repeat padding-box;
    color: white;
    margin: auto;
    font: 30px/88px Montserrat;
    width: 40%;
    text-align: center;
    font-weight: 500;
    border-radius: 14px;
    padding: 0px 0px 0px 0px;
}

.my-live-bet-matches {
    background: #000000 0% 0% no-repeat padding-box !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 30px !important;
    width: 80%;
}

.my-live-bet-matches h5 {
    color: #00FFA2;
    margin: 0px;
    text-align: left;
    font: normal normal 600 30px/72px Montserrat;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.my-live-bet-matches-tabs {
    font: normal 13px/29px Montserrat;
    color: #FFFFFF;
    align-items: center;
    margin: 0px;
}

.my-live-bet-matches-card-title {
    border-bottom: 5px solid #00FFA2;
    margin-right: -20px !important;
    margin-left: -20px !important;
}

.my-live-bet-matches-list {
    font: normal normal 600 15px/37px Montserrat;
    color: white;
    margin: 0px;
}

.card-title-list {
    border-bottom: 1px solid #ffffff;
    margin-right: -20px !important;
    margin-left: -20px !important;
}

.my-bet-team {
    background: #0EBDD5 0% 0% no-repeat padding-box;
    border-radius: 4px !important;
    padding: 4px 25px 5px 25px !important;
    display: grid;
    min-height: 60px;
    font-size: 16px;
    min-width: 120px;
    color: white;
    align-content: center;
}

.match-your-teams {
    font: normal normal normal 13px/29px Montserrat;
    color: #03D731 !important; 
    cursor: pointer;
}


.my-bet-overlay-bg:before {
    background-color: #00FFA2;
    opacity: 0.6;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.my-bet-overlay-bg {
    position: relative;
    background-image: url(/images/earth.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.my-current-problems {
    background: transparent linear-gradient(180deg, #03E1FF 0%, #DB1FFF 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    color: white;
    margin: auto;
    font: 25px/88px Montserrat;
    width: 50%;
    text-align: center;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
}


/*Responsiveness*/

@media screen and (max-width: 1200px) {
    .top-banner-heading {
        color: white;
        font: italic normal 19px/19px Montserrat;
        margin: 0px;
    }
    .my-bet-carousel-caption-button {
        width: 40%;
    }
    .my-current-bets h3 {
        width: 45%;
        font: 25px/88px Montserrat;
        font-weight: 500;
    }
    .my-live-bet-matches {
        width: 60%;
    }
}

@media screen and (max-width: 990px) {
    .my-live-bet-matches {
        width: 80%;
    }
    .my-current-problems {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .live-bet-matches {
        display: grid;
        justify-content: center;
        text-align: center;
    }
    .my-current-problems {
        font: 500 20px/60px Montserrat;
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .icn-content {
        justify-content: center;
        display: grid;
        padding: 10px;
    }
    .top-banner-heading {
        text-align: center;
    }
    .top-banner-desc {
        text-align: center;
    }
    .my-bet-carousel-caption-button {
        width: 100%;
    }
    .my-current-bets h3 {
        font: 25px/88px Montserrat;
        width: 100%;
        font-weight: 500;
    }
    .my-live-bet-matches {
        width: 100%;
    }
    .my-current-problems {
        font: 500 15px/50px Montserrat;
        width: 100%;
    }
}