.profile-bg {
	background: #000000 0% 0% no-repeat padding-box;
}

.profile-section {
	border-right: 1px solid;
}

.profile-icn {
	font-size: 40px !important;
	color: white;
}

.profile-name {
	font: normal normal 500 25px/40px Montserrat;
	letter-spacing: 0px;
	color: #00ffa2;
}

.profile-id {
	font: normal normal normal 14px/0px Montserrat;
	color: #ffffff;
}

.my-wallet {
	background: #00ffa2 0% 0% no-repeat padding-box;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.my-wallet-heading {
	background: #ffffff 0% 0% no-repeat padding-box;
	border-radius: 18px;
	width: 80%;
	font: normal 500 18px/34px Montserrat;
	color: #303030;
	opacity: 0.9;
	margin: auto;
}

.my-wallet-records {
	font: normal 500 16px/20px Montserrat;
	letter-spacing: 0px;
	color: #303030;
}

.profile-section-bg {
	background: #212121 0% 0% no-repeat padding-box;
}

.profile-section-activites a {
	color: white;
	font: normal normal 500 19px/44px Montserrat;
	margin: 0px;
}

.profile-section-bank-roles a {
	font: normal normal 600 19px/44px Montserrat;
	color: #00ffa2;
	margin: 0px;
}

.bank-roles-heading {
	font: normal 500 33px/40px Montserrat;
	color: #00ffa2;
	opacity: 1;
	margin: 0px;
}

.total-transaction {
	max-width: 70%;
	background: #000000 !important;
	border: 2px solid #fcfcfc !important;
	border-radius: 25px !important;
}

.From-bank {
	font: normal 28px/50px Montserrat;
	color: #ffffff;
}

.Total.Amount,
.Coins-Purchased {
	background: transparent linear-gradient(180deg, #7168e0 0%, #00ffa2 100%) 0%
		0% no-repeat padding-box;
	border: 2px solid #fcfcfc;
	border-radius: 14px;
	text-align: center;
	font: normal 600 24px/50px Montserrat;
	color: white;
}

img.SOL-logo {
	height: 30px;
}

.logo-text {
	font: normal normal 500 25px/30px Montserrat;
	-webkit-text-stroke: 1px darkgrey;
	-webkit-text-fill-color: #00ffa2;
}

.analytical-charts {
	box-shadow: 7px 7px 7px #00000029;
	border: 6px solid #00ffa2 !important;
	border-radius: 25px !important;
	max-width: 70%;
}

.my-profile-section {
	border: 1px solid #f5f5f5;
}

/* responsive-work */

@media screen and (max-device-width: 990px) {
	/* .my-wallet-records {
        font: normal 500 14px/10px Montserrat;
    } */
}
