.mybet-popup-content {
    height: 100vh;
    /* display: grid; */
    justify-content: center;
    align-content: center;
}

.mybet-popup-content-inner-cintent {
    background: #00F7B9 0% 0% no-repeat padding-box;
}

.has-search .form-control {
    padding-left: 2.375rem;
    margin: 10px 10px;
    border-radius: 10px;
    padding-right: 4rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    padding-left: 20px;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #707070;
}

.form-group.has-search::placeholder {
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #707070;
}

.popup-btn {
    background: transparent linear-gradient(180deg, #03E1FF 0%, #DB1FFF 100%) 0% 0% no-repeat padding-box !important;
    border-radius: 14px !important;
    color: white !important;
    padding: 7px 30px 7px 30px !important;
    margin: 10px 0px;
}

.arrow-down-sign-to-navigate,
.arrow-up-sign-to-navigate {
    margin: 5px 0px 5px 15px;
    height: 20px;
}

.arrow-up-sign-to-navigate {
    transform: rotate(180deg);
}

.Bet-Slip {
    font: normal normal 550 21px/29px Montserrat;
    letter-spacing: 0px;
    color: #000000;
}

.Open-Bets {
    font: normal normal 550 21px/30px Montserrat;
    letter-spacing: 0px;
    color: #000000;
}

.popup-items {
    list-style: none;
}

.popup-items-menu {
    background: black;
    box-shadow: inset 0px 3px 6px #00000029;
    border-radius: 0px 0px 16px 16px;
}

.popup-items-links {
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.popup-items-links:hover {
    text-decoration: none;
    color: #fff;
}

p.bet-amounts {
    text-align: end;
}

.font_set2,
.font_set {
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: white;
    line-height: 1.5rem;
}

.DEPOSIT-NOW {
    font: normal normal 600 15px/22px Montserrat;
    letter-spacing: 0px;
    background: #DB1FFF 0% 0% no-repeat padding-box;
    border-radius: 14px;
    padding: 23px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #00000029;
}

.DEPOSIT-NOW:hover {
    color: #fff;
    text-decoration: none;
}

.row.mybet-popup-body-content {
    background: #212121 0% 0% no-repeat padding-box;
    margin-top: -20px;
    /* z-index: -999; */
}

.Clear-Bet-Slip {
    font: normal 400 15px/18px Montserrat;
    letter-spacing: 0px;
    color: #00F7B9;
}

.mybet-popup-card {
    background: #00F7B9 0% 0% no-repeat padding-box !important;
    box-shadow: 5px 4px 11px #00000029 !important;
    border-radius: 18px;
}

.bet-team {
    font: normal normal 600 20px/29px Montserrat;
    letter-spacing: 0px;
    color: #2A2A2A;
}

.bet-unit {
    font: normal normal 500 20px/29px Montserrat;
    letter-spacing: 0px;
    color: #DB1FFF;
}

.bet-matches {
    font: normal 15px/13px Montserrat;
    color: #2A2A2A;
}

.Buy-Points {
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border-radius: 8px !important;
    font: normal 600 15px/16px Montserrat !important;
    color: #2A2A2A;
    padding: 10px 30px 10px 30px !important;
}

.popup-items-menu-list {
    display: flex;
    justify-content: center;
    background: transparent linear-gradient(180deg, #C433FF 0%, #11D5FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029;
    border-radius: 0px 0px 16px 16px;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .popup-items-menu-list {
        display: grid !important;
        text-align: center !important;
    }
    .bet-matches {
        font: normal 14px/20px Montserrat;
        color: #2A2A2A;
        text-align: center;
    }
}