.my-navbar {
    background-color: #00FFA2;
}

a.navbar-brand {
    font: normal normal bold 26px/48px Segoe UI;
    color: black;
}

.register-create {
    font: normal normal 500 20px/49px Montserrat !important;
    background: transparent linear-gradient(180deg, #03E1FF 0%, #DB1FFF 100%) 0% 0% no-repeat padding-box;
    color: white;
    border-radius: 14px !important;
    width: fit-content;
    padding: 0px 20px;
    margin: auto;
    user-select: none;
}

.register-login {
    background: #DB1FFF 0% 0% no-repeat padding-box;
    padding: 5px 26px 5px 26px !important;
    color: white;
    border-radius: 16px !important;
    font: normal 19px/30px Montserrat !important;
}

.left-register-bg {
    background: transparent linear-gradient(180deg, #00FFA2 0%, #03E1FF 100%) 0% 0% no-repeat padding-box;
}

.right-register-bg {
    /* background: #000000 0% 0% no-repeat padding-box; */
    margin-bottom: -75px;
}

.register-account-id,
.register-email-address,
.register-phone-number,
.register-password {
    font: normal 20px/29px Montserrat;
}

.register-account-id-field,
.register-email-address-field,
.register-phone-number-field,
.register-password-field {
    box-shadow: 0px 3px 2px #00000029;
}

.register-faq,
.register-contact,
.register-twitter,
.register-discord {
    color: #00FFA2;
    font: normal normal 600 14px/14px Montserrat;
}

.quick-links-register {
    color: white;
    font: normal 11px/14px Montserrat;
    line-height: 18px;
}
.register-nav-login-link {
    justify-content: end;
}
/* responsive work */
@media screen and (max-device-width: 768px) {
    .right-register-bg-mob {
        display: none;
    }
}
@media screen and (max-device-width:990px) {
    .register-nav-link {
        width: fit-content;
        margin: auto;
        display: flex;
    }
}