.modal-style,
.modal-content {
	color: white;
	border-radius: 20px !important;
	background: transparent linear-gradient(164deg, #03e1ff, #19e89c) 0 0
		no-repeat padding-box;
}
.modal-input-field {
	border: solid 1px black;
	border-radius: 4.5px;
	background-color: white;
}
.modal-input-field input {
	border: 0;
}
.modal-input-field input {
	border: 0;
	padding-top: 0px;
}
.modal-input-field input:focus {
	outline: none !important;
	border-color: transparent;
	box-shadow: 0 0 0px #719ece;
}
.modal-input-field span {
	font-weight: bold;
	margin-left: 1rem;
	padding-top: 5px;
	color: black;
}
.nav-tabs-sty {
	border-bottom: 0;
}
#home-tab {
}
.nav-tabs-sty .nav-link.active {
	text-transform: uppercase;
	background-color: #db1fff;
	padding: 10px 25px;
	border-radius: 8px;
	transition: 0.4s;
	color: #fff;
}
.nav-tabs-sty .nav-link {
	color: white;
	text-transform: uppercase;
}
.nav-tabs-sty .nav-link:hover {
	color: white;
}
.buy-sell-button {
	background: transparent;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 17px;
	color: white;
	border: white 2px solid;
	margin: 15px;
	width: 100%;
}
.buy-sell-button:hover {
	background: transparent;
	color: green;
	border: 2px solid green;
}
.active-button {
	background: white;
	color: green;
	border: 2px solid white;
}
.swap-token-button {
	background: transparent linear-gradient(160deg, #7168e0 0%, #00ffa2 100%) 0%
		0% no-repeat padding-box;
	font-size: 20px;
	border: white 2px solid;
}
