.user-profile-section {
    border: 1px solid #F5F5F5;
}

.user-profile-section-bank-roles a{
    font: normal normal 600 19px/44px Montserrat;
    color: #ffffff;
    margin: 0px;
}

.user-profile-section-activites a{
    color: #00FFA2;
    font: normal normal 500 19px/44px Montserrat;
    margin: 0px;
}

.user-bank-roles-heading {
    font: normal 500 33px/90px Montserrat;
    opacity: 1;
    margin: 0px;
    color: #00FFA2;
}

.current-active-bets {
    /* max-width: 75%; */
    border-radius: 25px !important;
    background: transparent linear-gradient(180deg, #03E1FF 0%, #6E1080 100%);
    padding: 0px !important;
}

.user-product-bg {
    background-image: url(/images/boxing_MMA.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: -1px;
    border-radius: 25px 0px 0px 25px;
}

.user-product-bgg {
    background-image: url(/images/football.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: -1px;
    border-radius: 25px 0px 0px 25px;
}

.user-upcoming-games-bgg {
    /* background-image: url(/images/football.webp); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: -1px;
    border-radius: 25px 0px 0px 25px;
}

.game-type-btn {
    background: #00FFA2 0% 0% no-repeat padding-box !important;
    font: normal 17px/22px Montserrat !important;
    color: #000000;
    width: 50%;
    margin: auto;
}

.user-game-type-btn {
    background: #00FFA2 0% 0% no-repeat padding-box !important;
    font: normal 17px/22px Montserrat !important;
    color: #000000;
    width: 50%;
    margin: auto;
}

.bet-topics {
    font: normal 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.price {
    font: normal 17px/41px Montserrat;
    color: #FFFFFF;
    margin: 0px;
}

.price-digit {
    font: normal 18px/40px Montserrat;
    color: #000000;
    margin: 0px;
}

.game-type {
    display: grid;
    align-content: center;
}

.History-Bets {
    font: normal 500 37px/88px Montserrat;
    letter-spacing: 0px;
    color: #00FFA2;
}

.History-Bets-bg {
    background: #00FFA2 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 24px;
}

.History-Bets-data-bg {
    background: transparent linear-gradient(180deg, #6E1080 0%, #03E1FF 100%) 0% 0% no-repeat padding-box;
    border-radius: 24px;
}

.History-Bets-desc,
.History-Bets-price,
.History-Bets-type,
.History-Bets-time,
.History-Bets-end-time,
.History-Bets-status {
    font: normal 500 18px/33px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-align: center;
}

.bet-desc,
.bet-price,
.bet-type,
.bet-time,
.bet-end-price,
.status {
    font: normal 14px/44px Montserrat;
    color: #FFFFFF;
    text-align: center;
}


/* responsive-work */

@media screen and (max-device-width: 990px) {
    .user-game-type-btn {
        width: 60%;
    }
}

@media screen and (min-device-width: 767px) and (max-device-width: 888px) {
    .my-wallet-records {
        font: normal 500 13px/10px Montserrat;
    }
}

@media screen and (max-device-width: 767px) {
    .my-wallet-heading {
        width: 50%;
    }
    .profile-section-bg .user-profile-section-activites {
        font: normal normal 500 19px/35px Montserrat;
    }
    .profile-section-bg .user-profile-section-bank-roles {
        font: normal normal 600 19px/49px Montserrat;
    }
    .profile-section-bg .user-bank-roles-heading {
        font: normal 500 28px/77px Montserrat;
    }
    .user-product-bg {
        background-image: url(/images/boxing.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 200px;
        margin: -1px 14px 12px 14px;
        border-radius: 25px 25px 0px 0px;
    }
    .user-product-bgg {
        background-image: url(/images/football.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: -2px 14px 14px 14px;
        border-radius: 25px 25px 0px 0px;
        height: 200px;
    }
    p.price,
    p.price-digit {
        text-align: center;
    }
    .game-type-btn {
        width: 50%;
        margin: auto;
    }
    .user-upcoming-games-bgg {
        height: 110px;
        max-width: 140px;
        display: flex;
        margin: auto;
    }
}

@media screen and (max-device-width: 767px) {
    .History-Bets-desc,
    .History-Bets-price,
    .History-Bets-type,
    .History-Bets-time,
    .History-Bets-end-time,
    .History-Bets-status {
        font: normal 600 13px/13px Montserrat;
        letter-spacing: 0px;
        color: #000000;
        text-align: center;
    }
    .bet-desc,
    .bet-price,
    .bet-type,
    .bet-time,
    .bet-end-price,
    .status {
        font: normal 600 13px/10px Montserrat;
        color: #FFFFFF;
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-device-width: 500px) {
    .History-Bets-desc,
    .History-Bets-price,
    .History-Bets-type,
    .History-Bets-time,
    .History-Bets-end-time,
    .History-Bets-status {
        font: normal 600 10px/10px Montserrat;
        letter-spacing: -0.5px;
        color: #000000;
        text-align: center;
    }
    .bet-desc,
    .bet-price,
    .bet-type,
    .bet-time,
    .bet-end-price,
    .status {
        font: normal 600 10px/10px Montserrat;
        color: #FFFFFF;
        text-align: center;
        margin-top: 10px;
    }
}





.game_list_row .user-product-bg {
    background-position: top;
}
.game_list_row .game_betting_box .betnow_btn,
.betNowModal .placebet_btn {
    display: inline-block;
    text-transform: uppercase;
    background-color: #DB1FFF;
    padding: 5px 20px;
    border-radius: 8px;
    transition: 0.9s;
    font-size: 17px;
    color: white;
    text-decoration: none;
    margin: 6px 0 14px;
    cursor: pointer;
}
.game_list_row .game_betting_box .betnow_btn:hover,
.betNowModal .placebet_btn:hover {
    background-color: white;
    color: #DB1FFF;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.betNowModal, body.modal-open{
    padding-right: 0 !important;
}
.betNowModal  .modal-content {
    border-radius: 25px;
    background: transparent linear-gradient(180deg, #03E1FF 0%, #6E1080 100%);
    color: white;
}
.betNowModal .modal-content .modal-header {
    border-color: #ffffff3d;
}
.betNowModal .modal-content .modal-footer {
    border: 0;
    justify-content: center;
    padding-top: 0;
}
.betNowModal .modal-content .modal-body {
    padding-bottom: 0;
}
.betNowModal .modal-content .modal-body form input, 
.betNowModal .modal-content .modal-body form select {
    background-color: #00000069;
    border-color: transparent;
    color: white;
}
.betNowModal .modal-content .modal-body form input:focus, 
.betNowModal .modal-content .modal-body form select:focus{
    border-color: #12c2ec;
}
.betNowModal .modal-content .modal-body form input::placeholder {
    color: #ffffff66;
}
.betNowModal .modal-content .modal-body form select option {
    background-color: #ffffff;
    border-bottom: 1px solid #0000008a;
    color: #333;
}
.game_list_row .game_betting_box p.price, 
.game_list_row .game_betting_box p.price-digit {
    line-height: 1.4;
    margin: 0 0 4px;
}
.game_betting_box {
    padding-top: 10px;
}
.betNowModal .modal-content .modal-header button.close:focus {
    outline: none;
}



/* Pagination Button */
.paginator_btn .box {
    float: left;
    padding: 50px 0px;
}

.paginator_btn .clearfix::after {
    clear: both;
    display: table;
}
.paginator_btn {
    width: 100%;
    padding: 0 15px;
}
.paginator_btn .box.pagination a {
    padding: 2px 12px;
    font-size: 12px;
    border-radius: 5px;
}
.paginator_btn .box.pagination a.active {
    background-color: #05fda2;
    border-color: #92ffd7;
    color: black;
}
.paginator_btn .box.options label {
    font-size: 12px;
    margin: 0 8px 0 0;
}
.paginator_btn .box.options select {
    background-color: #05fda2;
    border-color: #05fda2;
    font-size: 12px;
}
.paginator_btn .box.options select option {
    background-color: white;
}
.paginator_btn .box.options, .paginator_btn .box.pagination {
    padding: 0;
}
.paginator_btn .options {
    margin: 5px 0px 0px 0px;
    float: left;
}

.paginator_btn .pagination {
    float: right;
    display: block;
}

.paginator_btn .pagination a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    cursor: pointer;
}

.paginator_btn .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.paginator_btn .pagination a:hover:not(.active) {
    background-color: #ddd;
}
.paginator_btn label{
    color: #fff;
}
.pagination_no_record {
    font-size: 18px;
    color: white;
    margin: 0px auto 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.clearfix {
    margin: 20px 0px;
}
/* Pagination Button */


/* profile_pic Button */
.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
  }
  .profile-pic input {
    display: none;
  }
  .profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
  }
  .profile-pic .-label {
    cursor: pointer;
    height: 165px;
    width: 165px;
  }
  .profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    /* margin-bottom: 0; */
  }
  .profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
    justify-content: center;
    align-items: center;
  }
  
  /* body {
    height: 100vh;
    background-color: #191815;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body a:hover {
    text-decoration: none;
  } */
/* profile_pic Button */


.usr-transaction-history{
    background: transparent linear-gradient(180deg, #6E1080 0%, #03E1FF 100%) 0% 0% no-repeat padding-box;
    border-radius: 24px;
    max-width: 85%;
    margin: 0 auto;
}

.investment-icon {
    color: white;
    margin: 10px auto;
    display: flex;
    font-size: 30px;
    justify-content: center;
    height: 65px;
    border-radius: 50%;
    align-items: center;
    background: transparent linear-gradient(180deg, #7168E0 0%, #00FFA2 100%) 0% 0% no-repeat padding-box;
    width: 65px;
    box-shadow: 0px 0px 9px 0px #cccc;
}
.investment {
    color: #e5fff6;
    text-align: center;
    margin: 20px 0px 5px;
    font-size: 22px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
}
.amount-investement {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
}